= turbo_frame_tag "workouts_page_#{workouts.current_page}" do
  .list-group
    = render workouts
  - if workouts.next_page
    = turbo_frame_tag "workouts_page_#{workouts.next_page}", loading: :lazy, src: workouts_path(page: workouts.next_page, query: query)
