= link_to workout.name, workout, id: dom_id(workout), class: "list-group-item list-group-item-action #{'list-group-item-success' if @logged_workout_ids.include?(workout.id)}", data: { turbo_frame: "_top"}
