.container.my-3
  - if @schedules.empty?
    .my-2.alert.alert-warning No schedules
  - else
    .row.flex-nowrap
      .col.text-start = link_to_next_page @dates, '<', class: 'btn btn-primary'
      .col.text-center data-controller="schedule-date-picker" data-schedule-date-picker-date-value=@date.to_date.iso8601 data-schedule-date-picker-scheduled-value=@scheduled_dates.to_json
        h3.schedule-date-picker-trigger data-toggle=true
          = @date.to_date.strftime('%A %B %e, %Y')
        input type="hidden" data-input=true
      .col.text-end = link_to_prev_page @dates, '>', class: 'btn btn-primary'
    - @schedules.each do |schedule|
      .row.my-3.pt-3.border-top
        h1.col.text-start
          = schedule.workout.name
        i.col.text-end
          = link_to schedule.program.name, schedule.program
      .row
        p.col #{workout_objective schedule.workout}
      .row
        ul.list-unstyled.col
          = render partial: 'exercises/exercises', locals: { workout: schedule.workout }
      .row
        .col = render partial: 'workouts/notes', locals: { workout: schedule.workout }
      .row
        .col-12
          .d-grid
            = link_to 'Log', new_workout_log_path(schedule.workout), class: 'btn btn-outline-primary'
            - if @logged_workout_ids.include?(schedule.workout_id)
              / = link_to 'See Previous Results', new_workout_log_path(schedule.workout), class: 'btn btn-block btn-secondary'
