- flash.each do |msg_type, message|
  .alert class="#{flash_bootstrap_class_for(msg_type)} alert-dismissible" role="alert"
    = message
    button.btn-close type="button" data-bs-dismiss="alert" aria-label="Close"
